{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{% static 'bailiff_app/img/logo/logo2.png' %}" rel="icon">
  <title>BFDESK | Password reset sent</title>
  <link href="{% static 'bailiff_app/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'bailiff_app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'bailiff_app/css/ruang-admin.min.css' %}" rel="stylesheet">
</head>

<body id="page-top">
  <div id="wrapper">


    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">

          <ul class="navbar-nav ml-auto">


          </ul>
        </nav>

        <!-- Container Fluid-->
        <div class="container-login">
        <div class="row justify-content-center">
          <div class="col-xl-6 col-lg-12 col-md-9">


                  <br>
                  <br>


                    <div class="card mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">Password reset sent</h6>
                    </div>
                    <div class="card-body">
                      <div class="alert alert-success" role="alert">
                        <h6><i class="fas fa-check"></i><b> Success!</b></h6>

                        <p>
                          We’ve emailed you instructions for setting your password,
                          if an account exists with the email you entered.
                          You should receive them shortly.
                        </p>
                        <hr>
                        <p class="mb-0">
                          If you don’t receive an email,
                          please make sure you’ve entered the address you registered with,
                          and check your spam folder.
                        </p>
                        </div>
                      </div>
                    </div>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>

  <!-- Scroll to top -->


  <script src="{% static 'bailiff_app/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bailiff_app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'bailiff_app/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'bailiff_app/js/ruang-admin.min.js' %}"></script>
  <script src="{% static 'bailiff_app/vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'bailiff_app/js/demo/chart-area-demo.js' %}"></script>
</body>

</html>